<!DOCTYPE HTML>

<html>
	<head>
		<title>勞有所依 LYSI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/twmap.css') }}"/>
		<noscript></noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				
					<header id="header" class="alt">
						<h2 style="font-weight: bold;">{{ myData[1] }}</h2>
					</header>

				<!-- Main -->
					<div id="main">
						<br>
						<ul class="actions special">
							<li><h3 style="color: red; font-weight: bold;">{{ myData[10] }}</h3></li>
						</ul>
						<ul class="actions special">
							<li><h3>公司名稱</h3></li>
							<li><h3>{{ myData[2] }}</h3></li>
						</ul>
						<ul class="actions special">
							<li><h3>學歷</h3></li>
							<li><h3>{{ myData[3] }}</h3></li>
						</ul>
						<ul class="actions special">
							<li><h3>計薪方式</h3></li>
							<li><h3>{{ myData[4] }}{{ myData[5] }}</h3></li>
							
						</ul>
						<ul class="actions special">
							<li><h3>工作地區</h3></li>
							<li><h3>{{ myData[6] }}</h3></li>
						</ul>
						<ul class="actions special">
							<li><h3>工作時間</h3></li>
							<li><h3>{{ myData[7] }}</h3></li>
						</ul>
						<ul class="actions special">
							<li><h3>連絡電話</h3></li>
							<li><h3>{{ myData[8] }}</h3></li>
						</ul>
						<br>
					</div>
			
				<!-- Footer -->
				<footer class="major" id="none">
					<ul class="actions special">
						<li><a href="/jobone/{{id+1}}" class="button primary">下一頁</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/twmap.js') }}"></script>
	</body>
</html>